<!DOCTYPE html>
<html>
	<head>
		<title>Add Inventory Item</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
        <div class="header">
            <p>INVENTORY MANAGEMENT APP</p>
        </div>
        
        <div class="container">
            <h3>Add Inventory Item</h3>
            <form method="POST" action="/add">

                <input type="text" name="name" placeholder="Name" />

                <input type="text" name="description" placeholder="Description" />

                <input type="text" name="serialno" placeholder="Serial No" />

                <input type="text" name="serialcode" placeholder="Serial Code" />

                <input type="text" name="date" placeholder="Date (dd/mm/yyyy)" /><br>

                <input class="button" type="submit" value="Add Item">

            </form>
        </div>
	</body>
</html>