<!DOCTYPE html>
<html>
	<head>
		<title> Report Found Item</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<h1>Report Found Item</h1>

		<form method="POST" action="/found">

			<label>Name:</label><br>
			<input type="text" name="name" /><br/>

			<label>Description:</label><br>
			<input type="text" name="description" /><br>

			<label>Serial No:</label><br>
			<input type="text" name="serialno" /><br>

			<label>Date reported lost:</label><br>
			<input type="text" name="date" /><br>

			<label>Date found:</label><br>
			<input type="text" name="date" /><br>

			<input type="submit" value="Report Found Item">

		</form>
	</body>
</html>