<!DOCTYPE html>
<html>
	<head>
		<title>Andela Inventory Management</title>
	</head>
	<body>
		<h2> Welcome to Andela Inventory Management System </h2>
		<a href="/add"> Add Item </a>
		<table border="1" cellpadding="4">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Serial Number</th>
				<th>Andela Serial Code</th>
				<th>Date Bought</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Stabilizer</td>
				<td>A stabilizer</td>
				<td>SN00AB</td>
				<td>AND/STB/001</td>
				<td>04/08/1994</td>
			</tr>
		</table>
	</body>
</html>