<!DOCTYPE html>
<html>
	<head>
		<title>Andela Inventory Management</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>

		<h2> Welcome to Andela Inventory Management System</h2>
		<a href="/add"> Add Item </a>
		<table border="1" cellpadding="4">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Serial Number</th>
				<th>Andela Serial Code</th>
				<th>Date Bought</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Stabilizer</td>
				<td>A stabilizer</td>
				<td>SN00AB</td>
				<td>AND/STB/001</td>
				<td>04/08/1994</td>
			<tr>
				<td>2</td>
				<td>Laptop</td>
				<td>Office Laptop</td>
				<td>SN02AB</td>
				<td>AND/STB/002</td>
				<td>04/08/1994</td>
			</tr>
			<tr>
				<td>3</td>
				<td>LG Television</td>
				<td>10</td>
				<td>SN00AB</td>
				<td>AND/STB/003</td>
				<td>04/08/1994</td>
			<tr>
				<td>4</td>
				<td>Airconditioner</td>
				<td>Ac</td>
				<td>SN02AB</td>
				<td>AND/STB/004</td>
				<td>04/08/1994</td>
		</table>
		<a href="/report"> Report Lost item </a>
		<table border="1" cellpadding="4">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Serial Number</th>
				<th>Andela Serial Code</th>
				<th>Date Bought</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Stabilizer</td>
				<td>A stabilizer</td>
				<td>SN00AB</td>
				<td>AND/STB/001</td>
				<td>04/08/1994</td>
			<tr>
				<td>2</td>
				<td>Laptop</td>
				<td>Office Laptop</td>
				<td>SN02AB</td>
				<td>AND/STB/002</td>
				<td>04/08/1994</td>
			</tr>
			<tr>
				<td>3</td>
				<td>LG Television</td>
				<td>10</td>
				<td>SN00AB</td>
				<td>AND/STB/003</td>
				<td>04/08/1994</td>
			<tr>
				<td>4</td>
				<td>Airconditioner</td>
				<td>Ac</td>
				<td>SN02AB</td>
				<td>AND/STB/004</td>
				<td>04/08/1994</td>
		</table>
<a href="/found"> Report Found item </a>
		<table border="1" cellpadding="4">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Serial Number</th>
				<th>Andela Serial Code</th>
				<th>Date Bought</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Stabilizer</td>
				<td>A stabilizer</td>
				<td>SN00AB</td>
				<td>AND/STB/001</td>
				<td>04/08/1994</td>
			<tr>
				<td>2</td>
				<td>Laptop</td>
				<td>Office Laptop</td>
				<td>SN02AB</td>
				<td>AND/STB/002</td>
				<td>04/08/1994</td>
			</tr>
			<tr>
				<td>3</td>
				<td>LG Television</td>
				<td>10</td>
				<td>SN00AB</td>
				<td>AND/STB/003</td>
				<td>04/08/1994</td>
			<tr>
				<td>4</td>
				<td>Airconditioner</td>
				<td>Ac</td>
				<td>SN02AB</td>
				<td>AND/STB/004</td>
				<td>04/08/1994</td>
		</table>
	</body>
</html>