<!DOCTYPE html>
<html>
	<head>
		<title>Create Account</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
            <p>INVENTORY MANAGEMENT APP</p>
        </div>

        <div class="container">
            <h3>Create Account</h3>
            <form method="POST" action="/register">
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" /><br/>
                <input class="button" type="submit" value="Register">
            </form>
        </div>
	</body>
</html>