body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.header {
    background-color: #800000;
    height: 70px;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
}

.header p {
    color: #f4f4f4;
    font-size: 23px;
    margin-left: 15px;
}

.container {
    margin: auto;
    margin-top: 80px;
    padding: 5px;
}

table {
    color: #333;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

caption {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

th {
    font-weight: bold;
    text-align: left;
}

td, th {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

td {
    font-weight: 100;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

form {
    width: 40%;
    margin: auto;
    text-align: center;
}

input[type=text] {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    width: 60%;
}

.button {
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    background-color: #800000;
    border: 0px;
    color: #fff;
}

.right {
    float: right;
}